@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Roboto&display=swap');

body {
    font-family: 'Lato', sans-serif;
    color: black;
    margin: 0 !important; /* This will make sure that images/content take up the whole page*/
}

h6 {
    font-family: 'Lato', sans-serif;
}

/*Nav Bar Styling */
.navbar {
    font-weight: 700;
    margin-bottom: 0;
    background-color: #013220;
    border: 0;
    font-size: 1.2rem;
    letter-spacing: 1 rem;
}

.navbar-light .navbar-nav .nav-link {
	color: #ffffff;
}

/* Carousel Styling */
.carousel-item {
    height: 100%;
    min-height: 100vh;
    background: no-repeat center 75% scroll;
    background-size: cover;
    }

.carousel-caption {
	text-transform: uppercase;
	height: 50vh;
}

#welcome{
	font-size: 4rem;
	text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    height: auto;
}
/* End of Carousel Styling*/

/*Start of Contact Us Styling*/
.card {
    box-shadow: 0 2px 20px 0 rgba(110, 130, 208, .18);
}

.card-header {
    background-color: #013220 !important;
}

.card, .card-header {
    background-color: transparent;
    border: none;
    padding: 20px;
    margin-bottom: 20px;
}

.btn-link:after {
    content: '\2212';
	width: 35px;
	font-size: 25px;
	text-align: center;
	border-radius: 5px;
	right: 15px;
	top: 11px;
	position: absolute;
	background-color: black;
    color: white;
}

.btn-link{
	width: 100%;
	height: 60px;
	color: white;
	font-weight: bold;
	text-align: left;
	text-decoration: none;

}

.my-btn {
    background-color: #013220 !important;
}

#section-bookTable {
    padding: 5%;
}

/*End of Contact Us Styling*/

/*Footer Styling*/
#section-contact {
    background-color: #013220;
    padding: 20px;
    position: relative;
    width: 100%;
    bottom: 0;
}

.blackIcon{
	color: black;
}


/* Start of Images on menu.html*/
.menuImages {
    border-radius: 10px;
    width: 100%;
    height: 100%;
    padding: 10px;
    overflow: hidden;
}

.menuPrices {
    float: right;
}
/* End of Images on menu.html*/

/* Start of Maps in contact.hmtl */

iframe {
    width: 100%;
    height: 100%;
    padding: 10px;
    overflow: hidden;
}

/* End of Maps in contact.hmtl */

/* Start of Images in event.hmtl */

.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
  }
  
/* Create four equal columns that sits next to each other */
.column {
    flex: 25%;
    max-width: 33.3%;
    padding: 0 4px;
  }
  
.column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
    border-radius: 10px;
  }

@media screen and (max-width: 800px) {
.column {
    flex: 50%;
    max-width: 50%;
    }
  }
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .column {
    flex: 100%;
    max-width: 100%;
    }
  }
  
/* End of Images in event.hmtl */



