@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Roboto&family=Satisfy&display=swap'); /* Fonts from Google Fonts */

body {
    font-family: 'Lato', sans-serif;
    color: black;
    margin: 0 !important; /* This will make sure that images/content take up the whole page*/
}

/* Adds an Underline to h3 elements throughout website*/
.h3underline {
    text-decoration: underline;
    color: #013220;
}

.btn-link{
	color: #ffffff !important;
	text-decoration: none !important;

}

.eventHeading {
    font-family: 'Satisfy', cursive, sans-serif;
    font-size: 46px;
    text-decoration: underline;
    color: #013220;
}

.nav-item {
    background-color: #013220;
    color: black !important;
}

/*Start of Underline Link Animation*/
.cool-link {
    display: inline-block;
    text-decoration: none;
    color: #ffffff !important;

}

.cool-link::after {
    content: '';
    display: block;
    width: 0;
    height: 3px;
    background: #ffffff !important;
    transition: width .3s;
}

.cool-link:hover::after {
    width: 100%;
    transition: width .3s;
}
/*End of Underline Link Animation*/

/*Nav Bar Styling */
.navbar {
    font-weight: 700;
    margin-bottom: 0;
    background-color: #013220;
    border: 0;
    font-size: 1.2rem;
}

.navbar-light .navbar-nav .nav-link {
	color: #ffffff;
}

#navigationTab {
    background-color: #013220;
}



/* Carousel Styling */
.carousel-item {
    height: 100%;
    min-height: 100vh;
    background: no-repeat center 75% scroll;
    background-size: cover;
    }


.carousel-caption{
	font-size: 4rem;
    transform: translateY(-50%);
    bottom: initial;
    top: 50%;
    text-transform: uppercase;
    font-weight: 900;
}

/* RGB Includes an alpha value which mimics opacity*/
.carousel-caption-background {
    background: rgb(52, 58, 64, 0.6);
    border-radius: 5px;
    
}
/* End of Carousel Styling*/

/*Start of Contact Us Styling*/
.card {
    box-shadow: 0 2px 20px 0 rgba(110, 130, 208, .18);
}

.card-header {
    background-color: #013220 !important;
}

.card, .card-header {
    background-color: transparent;
    border: none;
    padding: 20px;
    margin-bottom: 20px;
}

.btn-link:after {
    content: '\2212';
	width: 35px;
	font-size: 25px;
	text-align: center;
	border-radius: 5px;
	right: 15px;
	top: 11px;
	position: absolute;
	background-color: black;
    color: white;
}

.btn-link{
	width: 100%;
	height: 60px;
	color: white;
	font-weight: bold;
	text-align: left;
	text-decoration: none;
}


#section-bookTable {
    padding: 5%;
}

#section-bookTable a {
    color:#343a40;
}

.tab-content {
    padding: 32px;
}

/*End of Contact Us Styling*/

/*Footer Styling*/

#section-contact {
    background-color: #013220;
    padding: 20px;
    position: relative;
    width: 100%;
    bottom: 0 !important;
    color: #ffffff;
}

#section-contact404 {
    background-color: #013220;
    padding: 20px;
    position: absolute;
    width: 100%;
    bottom: 0 !important;
    color: #ffffff;
}


.whiteIcon{
	color: white;
}
/* Start of Navigation Tab color change when clicked */
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    background-color: #343a40;
    }
/* End of Navigation Tab color change when clicked */

/* Start of Images on menu.html*/
.menuImages {
    border-radius: 10px;
    width: 100%;
    height: 100%;
    padding: 10px;
    overflow: hidden;
}

.menuPrices {
    float: right;
}

/* End of Images on menu.html*/

/* Start of Maps in contact.hmtl */

iframe {
    width: 100%;
    height: 100%;
    padding: 10px;
    overflow: hidden;
}

/* End of Maps in contact.hmtl */

/* Start of Images in event.hmtl */

.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
  }
  
/* Start of Create four equal columns that sits next to each other */
.column {
    flex: 25%;
    max-width: 33.3%;
    padding: 8px;
  }
  
.column img {
    margin-top: 16px;
    vertical-align: middle;
    width: 100%;
    border-radius: 10px;
    border: 4px;
    border-style: solid;
    border-color: #013220;
  }
/* End of Create four equal columns that sits next to each other */

/* Extra small devices (phones, 600px and down) */
/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media only screen and (max-width: 600px) {
.column {
    flex: 100%;
    max-width: 100%;
    }

.carousel-caption {
    font-size: 2rem;
}

.carousel-item img {
    height: 100vh;
    object-fit: cover;
    }
}
  
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
.carousel-item img {
    height: 120vh;
    object-fit: cover;
    }
}
  
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
.carousel-item img {
    height: 140vh !important;
    object-fit: cover;
    }
} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
.carousel-item img {
    height: 150vh;
    object-fit: cover;
    }
} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
.carousel-item img {
    height: 150vh;
    object-fit: cover;
    }
}

/* End of Images in event.hmtl */
